.footer {
  padding: 30px 0;
}

.footer__wrapper {
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $medium-desktop-width) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.footer__logo {
  margin-right: 3%;
}

.footer__nav {
  width: 80%;

  @media (max-width: $mini-tablet-width) {
    width: 100%;
  }
}

.footer__link {
  display: block;
  text-align: center;

  &--pink {
    color: $pink;
  }

  &--orange {
    color: $orange;
  }
}

.footer__inner {
  position: relative;
  margin-bottom: 20px;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 88.5%;
    height: 1px;
    background-color: $border-grey;

    @media (max-width: $medium-desktop-width) {
      width: 84%;
    }

    @media (max-width: $tablet-width) {
      width: 73%;
    }

    @media (max-width: $mini-tablet-width) {
      width: 58%;
    }

    @media (max-width: $mobile-width) {
      width: 100%;
    }
  }

  &::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    width: 289px;
    height: 312px;
    background-image: url("../img/hand.png");
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: $medium-desktop-width) {
      width: 270px;
      height: 285px;
    }

    @media (max-width: $mobile-width) {
      display: none;
    }
  }
}
