.logo {
  &--header {
    height: 150px;
    background-image: url("../img/rectangle.svg");
  }

  &--footer {
    height: 160px;
    background-image: url("../img/border-logo-footer.svg");
  }

  position: relative;
  width: 206px;
  background-repeat: no-repeat;
  background-size: contain;

  // @media (max-width: $meduim-desktop-width) {
  //   width: 197px;
  //   background-image: none;
  // }

  @media (max-width: $mini-desktop-width) {
    width: 100px;
    height: 100px;
    background-image: none;
  }

  @media (max-width: $mobile-width) {
    width: 65px;
    height: 65px;
  }
}

.logo__text {
  margin: 15px 25px;
  font-family: "playfairDisplay-Regular";
  text-align: center;

  @media (max-width: $mini-desktop-width) {
    display: none;
  }
}

.logo__img {
  margin-top: 10px;
  margin-left: 20px;

  @media (max-width: $medium-desktop-width) {
    margin-top: 10px;
    margin-left: 15px;
  }

  @media (max-width: $mini-desktop-width) {
    display: none;
  }
}

.logo__picture {
  display: none;

  @media (max-width: $mini-desktop-width) {
   display: block;
  }

  @media (max-width: $mobile-width) {
    width: 65px;
    height: 65px;
  }
}
